<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="LevelsetSuite">
    <test name="onChrome">
        <parameter name="browserName" value="Chrome"/>
        <classes>
            <class name="levelset.gui.tests.SelectDocumentPageTest"></class>
        </classes>
    </test>
</suite>
